.tag {
  width: .5vw;
  height: .5vw;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  border: .25vw solid lightgreen;
}

.currentTag {
  border-color: black;
  background-color: white;
}

.imageAreaContainer {
  display: flex;
  flex-direction: column;
  min-width: 65vw;
}

.image {
  width: 100%;
  object-fit: cover;
  min-height: 0vh;
}