.mainContainer {
  display: flex;
  flex-direction: row;
}

.imageAndNotesContainer {
  display: flex;
  flex-direction: row;
  width: 85vw;
}

.imageAndNotesContainerToTablet {
  display: flex;
  flex-direction: column;
  width: 85vw;
}