.menu {
  width: 15vw;
  height: 92vh;
  float: left;
  box-sizing: border-box;
  flex: 1;
}

.button {
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid lightgray;
}

.currentButton {
  background-color: lightgray;
}